services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: roommate_db
      POSTGRES_USER: roommate_user
      POSTGRES_PASSWORD: roommate_pass
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
